# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gogoQ\com.GoGoQ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
